<!-- Container  -->
<div class="row">
  <div class="col text-center mt-5">
    <img src="../img/profile.jpg" class="img-thumbnail rounded-circle" width="200px" />
    <h1 class="display-4">Rayhan Rizki Putra</h1>
    <p class="lead">Student | Programmer</p>
  </div>
</div>
